body {
    display: block;
    align-items: center;
    justify-content: center;

    & .text_wrapper {
        text-align: center;
    }

    & .checkbox_wrapper {
        text-align: center;
        visibility: visible;
    }
}

h1 {
    text-align: center;
}

